@import '../../styles';

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 1em; //100% of user's browser default
}

.AppView {
  width: 100vw;
  height: 80vh;
  position: relative;
  font-size: 1rem;

  header {
    height: 10vh;
    width: 100vw;
    padding: 1rem;
  }

  footer {
    height: 10vh;
    width: 100vw;
    padding: 1rem;
  }

  h1 {
    margin: 0px;
  }

  .error-message-visible {
    display: block;
    color: $error-color;
  }

  .error-message-hidden {
    display: none;
  }
}
