
$primary-color: #616161;  // gray
$available: green;
$occupied: red;
$error-color: red; //same as occupied but these could end up different
$neutral-color-1: #000; // black
$neutral-color-2: #fff; // white
