@import '../../styles';

.Appointments {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 1rem;

  ul {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;

    li {
      display: block;
      color: $neutral-color-2;
      text-align: center;
      margin: 5%;
      padding: 1%;
      width: 15%;
    }
  }
}

.AppointmentModal {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.2s ease;

  color: $neutral-color-1;
  background-color: $primary-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    display: block;
    width: 70%;
    margin: 1rem;
    border: 0px;
  }

  img {
    display: block;
    width: 4vw;
    cursor: pointer;

    position: absolute;
    top: 2%;
    left: 2%;
  }
}

.show-modal {
  left: 50%;
}

.hide-modal {
  left: -50%;
}

.available {
  background-color: $available;
}

.occupied {
  background-color: $occupied;
}
